.App {
  text-align: center;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  color: #ffffff;
  background-color: #010101;
  margin: 0;
  height: 100vh;
}
.list {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}
.textAlign {
  font-size: 5rem;
}
@media only screen and (max-width: 1000px) {
  .textAlign {
    text-align: center;
    font-size: 4rem;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.arrange {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-family: "Montserrat";
}

.image {
  background-image: url("./images/old.jpg");
  max-width: 800px;
  height: 530px;
  width: 100%;
  object-fit: cover;
}
.display {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
